.map {
    height: 500px !important;
}

.map-container {
    width: 100%;
}

.map-container h1 {
    width: 100%;
    text-align: center;
    padding: 1rem;
    border-top: solid 2px white;
    border-bottom: solid 2px white;
    margin-bottom: 2rem;
    font-size: 3rem;
    color: white;
}

.map-instructions {
    margin-top: 2rem;
    border-top: solid 2px white;
}

.map-instructions h2 {
    padding: 2rem;
    color: white;
    font-size: 2rem;
    text-align: center;
}

.map-instructions p {
    color: white;
    text-align: center;
    padding-bottom: 1rem;
}