:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.geosearch.leaflet-bar.leaflet-control.leaflet-control-geosearch.leaflet-geosearch-button {
  border: 0;
  display: flex;
}

.geosearch.leaflet-bar.leaflet-control.leaflet-control-geosearch.leaflet-geosearch-button.active form {
  display: flex;
}

.leaflet-geosearch-button .leaflet-bar-part {
  width: 35px !important;
  height: 35px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1b4080;
  border-left: solid 1px white;
}

.leaflet-geosearch-button .leaflet-bar-part::after {
  content: "";
  mask-image: url('images/magnifying-glass-solid.svg');
  display: block;
  width: 18px;
  height: 18px;
  mask-repeat: no-repeat;
  background-color: white;
}

.leaflet-geosearch-button .leaflet-bar-part:hover {
  background: #1b4080;
}

.leaflet-geosearch-button .leaflet-bar-part:focus {
  background: #1b4080;
}

.geosearch.leaflet-bar.leaflet-control.leaflet-control-geosearch.leaflet-geosearch-button.active .leaflet-bar-part::after {
  mask-image: url('images/square-xmark-solid.svg');
  mask-size: cover;
  width: 24px;
  height: 24px;
}


.leaflet-geosearch-button form {
  width: 250px;
  display: none;
}

.leaflet-geosearch-button form.active {
  display: flex;
}

.leaflet-geosearch-button form .results {
  position: absolute;
  top: 35px;
  background-color: white;
  max-width: 285px;
}

.leaflet-geosearch-button form .results div:nth-child(even) {
  background-color: #d9edf7;
}

.leaflet-geosearch-button form .results > div {
  padding: .5rem;
  cursor: pointer;
}

.leaflet-geosearch-button form input {
  padding: .5rem;
  width: 89%;
}

.leaflet-geosearch-button form button {
  padding: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  background: #1b4080;
  color: white;
  border: 0;
}

.leaflet-geosearch-button form button:hover {
  background: #1b4080;
}

.leaflet-geosearch-button form button.reset::after {
  content: "Clear";
}

.leaflet-popup-content {
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
}